# Python cache
__pycache__/
*.pyc

# Jupyter noise
.ipynb_checkpoints/

# Virtual environments
.venv/
env/

# Data outputs (CRITICAL for your project)
data/

# OS files
.DS_Store
Thumbs.db

# png files
debug_*.png
*.png

# html files
debug_*.html
naivas_debug.png