# Python cache
__pycache__/
*.pyc

# Jupyter noise
.ipynb_checkpoints/

# Virtual environments
.venv/
env/

# # Ignore raw data folders, but track CSV files
data/raw/*
!data/raw/*.csv

data/processed/*
!data/processed/*.csv

data/history/*
!data/history/*.csv

data/analytics/*
!data/analytics/*.csv

# OS files
.DS_Store
Thumbs.db

# png files
debug_*.png
*.png

# html files
debug_*.html
naivas_debug.png